*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
header{
  text-align: center;
  background-color: rgb(5, 5, 159);
  padding:5px 0px;
  color: white;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
  margin-bottom: 0px;
}
nav{
  background-color: white;
  padding: 1px 0px;
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 1;
}
nav div:first-child{
  margin-right: 25px;
}
nav div:first-child p{
  display: inline;
  position: relative; left: 88%; top: 10px;
  margin: 0px;
  margin-right: 25px;

}
.nav a{ 
  font-size: 20px;
  /* padding-bottom: 10px; */
}
.nav{
  margin: 0px;
}
nav div:last-child{
  display: flex;
  justify-content: space-between;
  margin-left: 180px;
  margin-right: 15px;
  /* margin-top: 0px; */
}
.carousel-inner img{
  height: 100vh ;
  width: 100%;
}
a{
  text-decoration: none;
  font-size: 25px;
  color: black;
}
.logo{
  position: relative;top: 30px;
  margin-left: 30px;
}
nav a{
  margin-left: 25px;
}
.bag input{
  border: none;
   margin: 0px;
}
.bag div:first-child {
  border-bottom-style:solid ;
}
.i1+p,.i2+p{
  font-size: 40px;
  margin-left: 50px;
  font-weight: bold;
}
.i2{
display: flex;
justify-content: space-around;
margin-bottom: 80px;
}
.new{
  background-image: url(https://imagescdn.reebok.in/img/app/shopmedia/production/3/32--12107.jpg?w=1898.75&auto=format);
  height: 100vh;
  width: 99vw;
  margin-bottom: 100px;
  display: float;
}
.new div{
display: flex;
color: white;
justify-content: center;
/* margin-top: 450px; */
}
.new div img{
  margin-right: 25px;
}
.new div div{
  display: block;
  position: relative;
  top:450px ;left: 300px;
}
.run div{
  color: red;
  border: 3px solid red;
  width: 40px;
}
.run h1{
  font-size: 55px;
  font-weight: bold;
}
.run{
  margin-left: 80px;
  /* display: inline; */
}
h2{
  margin-left: 80px;
  margin-bottom: 50px;
}
.s3{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.s3 a{
  font-size: 15px;
  text-decoration: underline;
  font-weight: bold;
  margin-right: 50px;
}
.gr{
  display: grid;
  grid-template-columns: 400px 600px;
}
.run+div{
  display: flex;
  width: 500px;
  justify-content: space-between;
  margin-top: 30px ;
}
.run+div h1{
  font-size: 22px;
}
.card-group{
  width: 90%;
  margin-left: 80px;
  margin-bottom: 80px;
}
.mk{
  margin-right: 20px;
}
.im1,.im1+img{
  margin-bottom: 50px;
  margin-left: 85px;
  margin-top: 10px;
}
.s4 h1{
  margin-left: 80px;
}
.s5 p{
  font-size: 105px;
  font-weight: bold;
  color: white;
  margin-left: 230px;
  padding-top: 130px;
}
.s5 h2{
  font-size: 35px;
  color: white;
  margin-left: 260px;
}
.s5{
  height: 550px ;
  width: 100%;
padding-left: 80px;
  background-color: rgb(202, 26, 26);
}
.s5 button{
  height: 50px;
  width: 120px;
  font-size: 25px;
  margin-left: 580px;
  border: none;
  box-shadow: 8px 8px 0px white;
}
.best a ,.bst a{
  font-size: 15px;
  color: rgb(7, 7, 7);
  text-decoration: underline;
 color: white;
}
.best ,.bst{
  display: flex;
  justify-content: space-between;
  width: 500px;
  position: relative; top: 420px; left: 450px;
}
.bst {
  position: relative; top: 800px; left: 450px;
}
.policy{
  display: flex;
  justify-content: space-around;
  /* margin-left: 80px; */
  text-align: center; 
  margin: 0px;
}
.grid{
  display: grid;
  grid-template-columns: 400px 400px;
  margin-left: 80px;
}
.footer{
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.footer a{
  color: white;
  font-size: 13px;
}
.footer a:hover{
  text-decoration: underline;
}
.footer h1{
  font-size: 25px;
}
.join{
  margin: 10px;
}
.join input{
  font-size: 20px;
  border: none;
}
li{
  list-style-type: none;
}
.footer  span ,.footer p{
  width: 350px;
  font-size: 18px;
  margin: 20px 0px;
}
.footer span{
  margin-right: 100px;
}
.more h1{
  border: 1px solid rgb(221, 221, 221);
  font-size: 25px;
  padding: 10px 100px  ;
  margin-bottom: 10px;
}

footer{
  background-color: rgb(20, 20, 85);
  color: white;
  height: 380px;
}